/***************/
/* YOUR STYLES */
/***************/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


*{
    box-sizing: border-box;
}

/* Imagery */

img{
    max-width: 100%;
    
}
.logo{
    width: 7.25em;
    margin: -1.5625em;
    
}
.profile-pic{
    padding: 0px;
    width: 100%;
    min-width: 100%;
    z-index: -1;
    text-align: center;
    margin: 0;
    margin-top: -2em;
}

/* Navigation */ /*Box Shadow on Nav*/
nav {
    background: white;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    padding: 2.5em 2.5em 1em 0;
    box-shadow: 0 0 30px #bbbbbb;  
    text-align: center;
}
nav #logo {
    padding: 2em 0 2em 0;
}
nav li{
    background: white;
    display:inline;
    list-style:none;
    padding: 2.5em 1em 2em 1em;
/*    margin -4 fixes the space inbetween each box. */
    margin-right: -4px;
}
nav ul{
    width:100%;
    padding:0;
    z-index:1;
    margin-top: -10px;
}



/*Nav Hover*/
nav a:link {
    text-transform: uppercase;
    text-decoration: none;
    color: #82C7C0;
    padding: 2em;
    margin-right: -4px;
}
nav a:visited {
    color: #B6A78F;
}
nav a:hover{
    color: white;
    background-color: #82C7C0;
    padding: 2.5em 2em 2em 2em;
    margin-right: -4px;
}
nav a#logo:hover {
    background: white;
}
nav a:active{
    color: #67A1A5;
    background: white;
}

/*Link hover*/
a:link {
    text-transform: uppercase;
    text-decoration: none;
    color: #82C7C0;
    padding: 2em;
    margin-right: -4px;
}
a:visited {
    color: #B6A78F;
}
a:hover{
    color: white;
    background-color: #82C7C0;
    padding: 2em;
    margin-right: -4px;
}
a:active{
    color: #67A1A5;
    background: white;
}

/* Typography */

h1{
    color: #68A1A5;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    line-height: 1.2;
}
h2{
    color: #82C7C0;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;
}
h3{
    color: #82C7C0;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 1.5em;
    font-weight: 300;
    text-transform: none;
}
p{
    font-family: 'Open Sans Condensed', sans-serif; 
    margin: 1em;
}
blockquote{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #B7AA90;
    line-height:1.6em;
    
    border-bottom: 2px solid #B7AA90;
    border-top: 2px solid #B7AA90;
    padding: 1em;
    width: 100%;
    text-align: center;
    margin: 1em 0;
 
}

li{
    font-family: 'Open Sans Condensed', sans-serif; 
    margin-bottom: .3em;
    list-style-type: none;
}


/*About*/
.about{
    
}
main{
    margin: auto;
    margin-top: 8em;
    
}
/*Eventually the screen stop collapsing*/
body{
    min-width: 20em; 
    line-height: 1.5;
    letter-spacing: .4px;
}
article {
    margin: auto;
    margin-top: 8em;
    width: 70%;
    
}
/*Atricle on all pages is 8em, except this page becuse of picture at top. */
article.background{
    margin: auto;
}
div{
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
/*    margin-right: 2%;*/
}
.left-half, 
.right-half{
    max-width: 47%;
    width: 47%;
}
a.body-link{
    font-family: 'Open Sans Condensed', sans-serif; 
    color: black;
    padding: 0;
}
a.body-link:hover{
    font-family: 'Open Sans Condensed', sans-serif; 
    color: #68A1A5;
    padding: 0;
    margin: 0;
    background-color: white;
}


/*Home page*/
.homepage{
   background: #82C7C0 ;
}
h1.title{
    font-size: 13em;
    margin: 1em auto 0 auto;
    animation-duration: 3s;
    animation-name: fadeInUp;
    color: white;
}
h3.title{
    font-size: 1.5em;
    margin: .5em auto 0 auto;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeInUp;
    color: white;
}
.splash{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%
    max-width: 60em;
    min-width: 18em;
}
a.work-link{
    color: white;
    border: 2px solid white;
    margin: 1.5em auto;
    animation-duration: 3s;
    animation-name: fadeInUp;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 1.5em;
    padding: 1em;
}
a.work-link:hover{
    background-color: #68A1A5;
    
}
/*animation*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*portfolio page*/
.homepage{
/*     margin: 0; background: #fff;*/
}

header.portfolio{
    width: 80%;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

a.portfolio{
    padding: 2px;
}

h1.portfolio{
    margin: auto;
    padding: .5em 0 0 0;
}

/*
div .portfolio{
    border-bottom: 2px solid #B7AA90;
    border-top: 2px solid #B7AA90;
}
*/

/*CSS from Codepen example*/
.thumbnail {
  max-width: 40%;
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
    box-shadow: 0 0 30px #bbbbbb;  
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/*END OF CODEPEN CODE*/
/*fixes hover over thumbnail */
a.portfolio:hover{
    background: none;
}
/*fixes hover over img after clicked */
a.lightbox:hover{
    background: rgba(255,255,255,.8);
}










/*Contact page*/
.contact{
    background: url(/img/contact_cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}



/*Contact Form*/
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgba(255,255,255,.7);
            padding: 2em 4em 4em 4em;
            width: 80%;
            max-width: 700px;
            min-width: 400px;
            margin: auto;
/*            box-shadow: 0 0 10px #bbbbbb;  */

        }
 
        input, 
        textarea{
            font-family: 'Open Sans Condensed', sans-serif; 
            color: #82C7C0;
            font-size: 1.3em;
            width: 24em;
            height: 3em;
            margin: .5em;
            outline: none;
            border: none;
	        border-bottom: 3px solid rgba(0,0,0,0.05);
        }

        label{
            display: flex;
            align-items: center;
            color: #82C7C0;
            font-family: 'Open Sans Condensed', sans-serif; 
            font-size: 1.3em;

        }
        form h1{
            font-size: 3em;
            margin-bottom: 0;
            text-align: center;

        }
        form h2{
            border-bottom: 1px solid rgba(0,0,0, 0.3);
            padding: .2em 0 .5em 0;

        }
p.contact{
    color: #B6A78F;
    background: none;
    text-align: center;
    margin: auto;
    font-size: 1.5em;

}
        input[type=submit]{
            color: #82C7C0;
            max-width: 6em;
            height: 4em;
            font-family:  'Open Sans Condensed', sans-serif; 
            font-size: 1.5em;

/*  Send should be centered but padding auto doesnt work. how else should i center the text. 
            WHEN YOU CLICK OFF TYPE IS WHITE< CANT SEE IT*/
        }
        input:focus,
        textarea:focus{
            transition: background .5s;
            color: #68A1A5;
            border-bottom: 5px solid #68A1A5;
            
/*  color of text when typing*/
}

input.col[type=submit]{
    background-color:rgba(255,255,255,.5);
    border: 2px solid #82C7C0;
}

input.col[type=submit]:hover{
    background:#68A1A5;
    color: white;
    border: white;
}

::-webkit-input-placeholder {
   color: #B6A78F;
}

/*attempt at rows and columns*/
.row{
  padding: 5px;
}
.col{
  padding: 5px;
}

/*Flexbox Styling  */
.row {
  display: flex;
  justify-content: center;
}
.col{
  flex: 1 200px;
  
}

/*cover Photo*/
contact.html{
  background:url(/img/contact_cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    margin-top: 96px;
}

/*FOOTER*/
div.footer{
    display: block;
    text-align: center;
    margin: 4em;
}
a#icon{
    padding: .8em;
}

a#icon:hover{
    background: none;
    cursor: pointer;
}


/*Media Queries*/
/* Mobile: 320px = 20em */
@media only screen 
    and (min-width: 20em)
    and (max-width:42em){ 

    nav ul{
        margin: -20px 0 3px 0;
        padding: 5px;

    }
    nav li{
        padding: 0;
        display: inline;
        font-size: .875em;
    }
    nav #logo {
        display: block;
        padding: 1.5em;
    }
    nav{
        padding: .8em 0;
    }
        
/* HOME PAGE STYLING */
        h1.title{
            font-size: 5em;
        }
        
         h3.title{
            font-size: 1.2em;
             margin: .5em auto .5em auto;
        }
        
        a.work-link{
            font-size: .8em;
            padding: 1.5em;
        }
        
/* ABOUT PAGE STYLING */
    .profile-pic{
        margin-top: 0;     
    }
        
        h1{
            font-size: 1.8em;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        h2{
            font-size: 1.5em;
            padding-top: .8em;
        }
        
        h3{
            font-size: 1.5em;
            margin: 5px 0 5px 0;
            text-align: center;
            color: #B6A78F;
        }
        .left-half, 
        .right-half{
            max-width: 100%;
            width: 100%;
        }
        p{
            margin: 0;
        }
        blockquote{
            font-size: 1em;
        }
        ul{
            margin: 0;
        }

        div{
            display: inline;
        }
/* CONTACT PAGE STYLING*/
        form h1{
            font-size: 2em;
        }
        
        form h2{
            font-size: .8em;
        }
        label{
            font-size: 1em;
        }
        input,
        textarea{
            font-size: 1em;
        }
        .row{
            padding: 2px;
        }
        input[type=submit] {
            width: auto;
            height: 3em;
            font-size: 1em;
        }
}

    
	

/* Tablet:  768px = 160em */
@media only screen and (min-width: 48em)  {

/*
  body {
      background: green;
  }
*/
}

/* Desktop: 1280px = 80em */
@media only screen and (min-width: 80em) { 
  
/*
  body {
     background: blue;
  }
*/
    
    


