/***************/
/* YOUR STYLES */
/***************/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

/* Color Palette */
.color-1{
    background: #8c8b8f;
}

.color-2{
    background: #FDFFFF;
}

.color-3{
    background: #82C7C0;
}

.color-4{
    background: #68A1A5;
}

.color-5{
    background: #B7A990;
}

/* Textures or Patterns*/

.pattern-1{
    background: url("../img/tree_pattern.png");
}

.pattern-2{
    background: url("../img/wood_texture.png");
}

.pattern-3{
    background: url("../img/triangle_background.png");
}

.pattern-4{
    background: url("../img/green_texture.png");
}

.pattern-5{
    background: url("../img/xv.png");
}


/* Imagery */


/* Icons */


/* Navigation */
a:link {
    text-transform: uppercase;
    color: #82C7C0;
/*  how do you change the font to be light and not regulr, what is that called?  */
}

a:visited {
    color: #8C8B8F;
}
/* When I moved visited they all turned grey but i want the link to only be grey if someone had already been on that page. All the others should still be green.  */

a:hover{
    color: #68A1A5;
}

a:active{
    color: #ec7c85;
    background: white;
    
}
/* Typography */

h1{
    color: #68A1A5;
    font-family: 'Playfair Display', serif;
}

h2{
    color: #8C8B8F;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
}

h3{
    color: #82C7C0;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
}

p{
    font-family: 'Open Sans Condensed', sans-serif; 
}


