/***************/
/* YOUR STYLES */
/***************/

/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Color Palette */
.color-1{
    background: #bbd19c;
}

.color-2{
    background: #f6f6f1;
}

.color-3{
    background: #b7a990;
}

.color-4{
    background: #efccbf;
}

.color-5{
    background: #ec7c85;
}

/* Textures or Patterns*/

.pattern-1{
    background: url("../img/tree_pattern.png");
}

.pattern-2{
    background: url("../img/wood_texture.png");
}

.pattern-3{
    background: url("../img/triangle_background.png");
}

.pattern-4{
    background: url("../img/green_texture.png");
}

.pattern-5{
    background: url("../img/xv.png");
}

body {
    background: white;
}

/* Imagery */


/* Icons */


/* Navigation */
a:link {
    font-family: 'Lato', sans-serif ;
    text-transform: uppercase;
    color: #bbd19c;
    font-weight: 300;
}

a:visited {
    color: #b7a990; 
}
/* When I moved visited they all turned grey but i want the link to only be grey if someone had already been on that page. All the others should still be green.  */

a:hover{
    color: #efccbf;
}

a:active{
    color: #ec7c85;
    background: white;   
}

li{
    color: #efccbf;
}
/* Typography */

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #efccbf;
}

h2{
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    color: #b7a990;
}

h3{
    font-family: 'Playfair Display', serif; 
    font-weight: 400;  
    color: #b7a990;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}